In [3]:
name="Tirthankar bagal"
age=22
degree="Msc Physics"
print("My name is {} and my age is {} and i have completed my {}".format(name,age,degree))

My name is Tirthankar bagal and my age is 22 and i have completed my Msc Physics

In [4]:
name=input("Enter your name" )
age=input("Enter your age" )
degree=input("Enter your degree" )
print("My name is {} and my age is {} and i have completed my {}".format(name,age,degree))

Enter your name Tirthankar Bagal
Enter your age 22
Enter your degree Msc Physics

My name is Tirthankar Bagal and my age is 22 and i have completed my Msc Physics

In [8]:
age=int(input("Enter your age "))
if 45>=age>=18 :
    print("You are young blood")

Enter your age  18

You are young blood

In [10]:
price=int(input("Enter the poduct price"))
Dis_price = price - price*20/100
Dis_price2 = price - price*30/100
if price>=1000:
    print("You will get 20% off")
    print("Discounted price is ",Dis_price)
else:
    print("You will get 30% off")
    print("Discounted price is ",Dis_price2)

Enter the poduct price 10000

You will get 20% off
Discounted price is  8000.0

In [ ]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [ ]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

In [ ]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [ ]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

In [3]:
join_age=25
while join_age<=60:
    print(join_age)
    join_age=join_age+1
else:
    print("Time to retire")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Time to retire

In [ ]:
total_amount=1000
while

In [45]:
n=3
m = (2 * n) - 2
for i in range(0,n):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0,2*i+1):
        print("*",end=" ")
    print("\r")

    *
   * * *
  * * * * *